@model SNHU_Search.Models.ConfigPageModel
@{
    Layout = "_Layout";
    <link rel="stylesheet" href="~/css/ConfigPageStyleSheet.css" />
}
<script src="https://kit.fontawesome.com/1e6384ea85.js" crossorigin="anonymous"></script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form method="post" class="centered" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadWebsites">
        <div class="addWebsitesInputDiv">
            <p>Add your favorite websites here for easy accessibilty</p>
            <input asp-for="inputWebsite" class="websiteInput" type="text" placeholder="Enter website here">
            <button class="addWebsiteButton" type="submit">Add Website</button>
        </div>
    </form>
    <div class="searchResults">
        <div class="ListWebsites">
                @*<table>*@
                    @{
                        List<string> list = new List<string>();
                        list = ViewData["userWebsitesList"] as List<string>;
                        @if (list != null)
                        {
                            for (int i = 0; i < list.Count(); i++)
                            {
                                @*<tr>
                                    <td>
                                        <label class="savedWebsiteList">@list[i]</label>
                                    </td>
                                    <td>
                                        <a onclick="location.href='@Url.Action("RemoveWebsites", "Home", new { website = list[i] })'">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>*@
                                <a onclick="location.href='@Url.Action("RemoveWebsites", "Home", new { website = list[i] })'">
                                    <label class="savedWebsiteList">@list[i]<i class="fas fa-trash"></i></label>
                                </a>


                                @if (i % 1 == 0)
                                {
                                    <br>
                                }
                            }
                        }
                    }
                @*</table>*@
        </div>
    </div>
    <div>
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadDirectory">
            <span>Select File:</span>

            @{
                string pathEnteredExist;
                pathEnteredExist = ViewData["DirectoryPathExist"] as string;

                string path;
                path = ViewData["DirectoryPath"] as string;
                if (pathEnteredExist == "false")
                {
                    <label>Enter a directory</label>
                    <br>
                    <input name="path" size="50" type="text"/>
                    <input type="submit" value="Upload" />
                }
                else
                {
                    <label name="path" size="50">@path</label>                 
                    // add a clear button
                    <input type="submit" value="Clear Path" />
                }
            }
        </form>
    </div>
</body>
</html>

<script>
    function browseResult(e) {
        var fileselector = document.getElementById('fileselector');
        console.log(fileselector.value);
    }
</script>

@if (ViewBag.message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.message");
    };
    </script>
}