@model SNHU_Search.Models.SearchModel
@{
    Layout = Layout;
}

<head>
    <title>SNHU Search</title>
    <link href='~/css/MainPage.css' rel='stylesheet'>
</head>
<style>
    .searchResults {
        width: 60%;
        float: left;
        padding: 20px;
    }

    #websiteContainer {
        width: 20%;
        float: left;
        padding: 20px;
        background-color: #313740;
        height: 59vh;   
    }

    .fileTextContainer {
        width: 20%;
        float: left;
        padding: 20px;
        background-color: #313740;
        height: 59vh;
        overflow-y: scroll;
    }
</style>

<div class="searchDiv">
    <form method="post" asp-controller="Home" asp-action="SearchElastic" enctype="multipart/form-data">
        @{
            string username;
            username = ViewData["userName"] as string;
            if (username != null)
            {
                <button class="webConfigButton" type="button" name="configButton" onclick=" location.href = '@Url.Action("ConfigPage", "Home")'">Configure Websites</button>
            }
            else
            {
                <button class="webConfigButtonDisabled" type="button" name="configButtonDisabled" onclick=" location.href = '@Url.Action("ConfigPage", "Home")'" disabled>Configure Websites</button>
            }
        }

        <br />
        <br />
        <p>Welcome to SNHU Search! A search engine that allows you to customize your search to fit your needs!</p>
        <input class="searchBarInput" asp-for="Keywords" placeholder="Enter your search here" />
        <button class="searchButton" type="submit" name="searchButton">Search</button>
    </form>

    <div id='websiteContainer'>
       <!-- <p id="displayURL">
        </p>-->
        <!-- Place holder to move for search results-->
    </div>
    <div class="searchResults">
        <table style="width: 100%;">
            @*Outputs search results in a scrollable list*@
            @{             
                List<ElasticManager.WebsiteDetails> Websiteslist = new List<ElasticManager.WebsiteDetails>();
                Websiteslist = ViewData["elasticSearchKeywordsWebsitesList"] as List<ElasticManager.WebsiteDetails>;

                List<ElasticManager.WebsiteDetails> Fileslist = new List<ElasticManager.WebsiteDetails>();
                Fileslist = ViewData["elasticSearchKeywordsFileLocationList"] as List<ElasticManager.WebsiteDetails>;
                @if (Websiteslist != null)
                {
                    @for (int i = 0; i < Websiteslist.Count(); i++)
                    {
                        <tr>
                            <!--<a href=@Websiteslist[i].URL style="font-size: 17px;" target="_blank" rel="noopener noreferrer">@Websiteslist[i].URL</a>-->
                            <a href="@Websiteslist[i].URL" style="font-size: 17px;" target="_blank">Open page in @Websiteslist[i].URL new tab</a>
                            <br />
                            <a href="#" onclick="setIframe('@Websiteslist[i].URL')" style="font-size: 17px;" >See Preview of @Websiteslist[i].URL</a>
                            <br />
                        </tr>
                        <tr>
                            <label style="font-size: 17px;">Title: @Websiteslist[i].Title</label>
                            <br />
                        </tr>
                        <tr>
                            <label style="font-size: 17px;">@Websiteslist[i].FirstTenWords</label>
                            <br />
                        </tr>
                        <br />
                    }
                }
                @if (Fileslist != null)
                {
                    @for (int i = 0; i < Fileslist.Count(); i++)
                    {
                        <!--<a href=@Fileslist[i].URL onclick="$(this).closest('form').submit()" style="font-size: 17px;" target="_blank" rel="noopener noreferrer">@Fileslist[i].URL</a>-->
                        <tr>
                            <a href=@Fileslist[i].URL onclick="displayFileText('@Fileslist[i].Keywords', '@Fileslist[i].Title')" style="font-size: 17px;" target="_blank" rel="noopener noreferrer">@Fileslist[i].URL</a>
                            <br>
                        </tr>
                        <tr>
                            <label style="font-size: 17px;">Title: @Fileslist[i].Title</label>
                            <br>
                        </tr>
                        <tr>
                            <label style="font-size: 17px;">@Fileslist[i].FirstTenWords</label>
                            <br>
                        </tr>
                        <br>

                    }
                }
            }
        </table>
    </div>


    <div class='fileTextContainer'>
        <p id="displayFileName">
        </p>
        <p id="fileText" style="padding:0px; font-size:16px;">
        </p>
    </div>
</div>

<body>
    <div id="content"></div>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@Url.Content("~/js/Tutorial.jsx")"></script>
</body>

<script type="text/javascript">
    function displayFileText(FileText, fileTitle) {
        document.getElementById('fileText').innerHTML = "";
        document.getElementById('displayFileName').innerHTML = "Text from \"" + fileTitle + "\": ";
        let containerParagraphID = document.getElementById('fileText');
        containerParagraphID.innerHTML += FileText;

    }
    // iframe for websites
    function setIframe(url) {
        document.getElementById('websiteContainer').innerHTML = "";
       // document.getElementById('displayURL').innerHTML = "Preview of \"" + url + "\": ";
        var iframe = document.createElement('iframe');
        iframe.frameBorder = 0;
        iframe.width = "100%";
        iframe.height = "100%";
        iframe.id = "randomid";
        iframe.setAttribute("src", url);
        document.getElementById('websiteContainer').appendChild(iframe);
    }
</script>


